Repository theQRL/qrypto.js: changes, and which Codecov flags are due for each by the changed paths.
All: dilithium5, mldsa87

ci: fix coverage
  codecov.yml
  packages/dilithium5/package.json
  packages/dilithium5/test/index.test.js
  packages/mldsa87/package.json
  packages/mldsa87/test/index.test.js
Due: none

FInal tweaks
  README.md
  package-lock.json
  package.json
  packages/dilithium5/package.json
  packages/mldsa87/package.json
Due: none

chore: lint fix
  package-lock.json
  package.json
Due: none

chore: update dev deps (and eslint nit fix)
  package-lock.json
  package.json
  packages/dilithium5/package.json
  packages/dilithium5/src/ntt.js
  packages/dilithium5/src/sign.js
  packages/mldsa87/package.json
  packages/mldsa87/src/ntt.js
  packages/mldsa87/src/sign.js
Due: dilithium5, mldsa87

chore: regenerate lockfile
  package-lock.json
Due: none

fix: v1.1.2 release
  README.md
Due: none

docs: correct cdn version
  README.md
Due: none

chore: turbo version bump
  package-lock.json
  package.json
  packages/dilithium5/test/dist-bundle.test.js
  packages/mldsa87/test/dist-bundle.test.js
Due: none

Remove the DEFAULT_CTX default parameter and make ctx required + Update tests
  packages/mldsa87/src/sign.js
  packages/mldsa87/test/coverage.test.js
  packages/mldsa87/test/sign.test.js
Due: mldsa87

Fix lint-check
  packages/mldsa87/src/sign.js
Due: mldsa87

Fix test
  packages/mldsa87/test/sign.test.js
Due: none

Update typescript
  packages/mldsa87/src/index.d.ts
Due: none

Update comment
  packages/mldsa87/src/index.d.ts
Due: none

Update dist
  packages/mldsa87/dist/cjs/mldsa87.js
  packages/mldsa87/dist/mjs/mldsa87.js
Due: none

Update dist-bundle test
  packages/mldsa87/test/dist-bundle.test.js
Due: none

feat!: no default ctx is breaking change
  README.md
  packages/mldsa87/README.md
  packages/mldsa87/src/sign.js
  packages/mldsa87/test/coverage.test.js
  packages/mldsa87/test/sign.test.js
Due: mldsa87

chore: build output
  packages/dilithium5/dist/cjs/dilithium5.js
  packages/dilithium5/dist/mjs/dilithium5.js
  packages/mldsa87/dist/cjs/mldsa87.js
  packages/mldsa87/dist/mjs/mldsa87.js
Due: none

fix: informational findings fixup & docs plus new CI gate
  .github/workflows/ci.yml
  package.json
  packages/dilithium5/dist/cjs/dilithium5.js
  packages/dilithium5/dist/mjs/dilithium5.js
  packages/dilithium5/src/packing.js
  packages/dilithium5/src/poly.js
  packages/dilithium5/src/reduce.js
  packages/dilithium5/src/sign.js
  packages/dilithium5/test/coverage.test.js
  packages/mldsa87/dist/cjs/mldsa87.js
  packages/mldsa87/dist/mjs/mldsa87.js
  packages/mldsa87/src/packing.js
  packages/mldsa87/src/poly.js
  packages/mldsa87/src/reduce.js
  packages/mldsa87/src/sign.js
  packages/mldsa87/test/coverage.test.js
Due: dilithium5, mldsa87

test: fix dist bundle smoke test
  packages/dilithium5/test/dist-bundle.test.js
Due: none

docs: tidy jsdoc and root/pkg level READMEs
  README.md
  packages/dilithium5/README.md
  packages/dilithium5/dist/cjs/dilithium5.js
  packages/dilithium5/dist/mjs/dilithium5.js
  packages/dilithium5/src/sign.js
  packages/dilithium5/src/utils.js
  packages/mldsa87/README.md
  packages/mldsa87/dist/cjs/mldsa87.js
  packages/mldsa87/dist/mjs/mldsa87.js
  packages/mldsa87/src/sign.js
  packages/mldsa87/src/utils.js
Due: dilithium5, mldsa87

fix:order of zeroize & packing throws
  packages/dilithium5/src/packing.js
  packages/mldsa87/src/packing.js
  packages/mldsa87/src/sign.js
Due: dilithium5, mldsa87

docs:timing notes
  SECURITY.md
  packages/dilithium5/README.md
  packages/mldsa87/README.md
Due: none

test:add fuzz & arithmetic tests
  .github/workflows/ci.yml
  .gitignore
  packages/dilithium5/test/d5-arithmetic-properties.test.js
  packages/dilithium5/test/packing.test.js
  packages/mldsa87/fuzz/open-src.mjs
  packages/mldsa87/fuzz/unpack-sig.mjs
  packages/mldsa87/fuzz/verify-dist.mjs
  packages/mldsa87/fuzz/verify-src.mjs
  packages/mldsa87/test/coverage.test.js
  packages/mldsa87/test/d5-arithmetic-properties.test.js
  packages/mldsa87/test/packing.test.js
  scripts/fuzz/engine/corpus.mjs
  scripts/fuzz/engine/mutate-bytes.mjs
  scripts/fuzz/engine/oracles.mjs
  scripts/fuzz/engine/prng.mjs
  scripts/fuzz/engine/serialize.mjs
  scripts/fuzz/run-campaign.mjs
  scripts/timing-sign.mjs
Due: none

chore: linting & build assets
  packages/dilithium5/dist/cjs/dilithium5.js
  packages/dilithium5/dist/mjs/dilithium5.js
  packages/dilithium5/test/d5-arithmetic-properties.test.js
  packages/mldsa87/dist/cjs/mldsa87.js
  packages/mldsa87/dist/mjs/mldsa87.js
  packages/mldsa87/test/coverage.test.js
  packages/mldsa87/test/d5-arithmetic-properties.test.js
Due: none

fix: typescript enhancements
  packages/dilithium5/dist/cjs/dilithium5.d.cts
  packages/dilithium5/dist/mjs/dilithium5.d.mts
  packages/dilithium5/fixup
  packages/dilithium5/package.json
  packages/mldsa87/dist/cjs/mldsa87.d.cts
  packages/mldsa87/dist/mjs/mldsa87.d.mts
  packages/mldsa87/fixup
  packages/mldsa87/package.json
Due: none

fix: trigger release
  package.json
  packages/dilithium5/.release-touch
  packages/mldsa87/.release-touch
  scripts/release/touch-packages.js
Due: none

fix: trusted publishing
  .github/workflows/release.yml
  packages/dilithium5/.release-touch
  packages/mldsa87/.release-touch
Due: none

fix: release config from @theqrl/web3.js
  .github/workflows/release.yml
  package.json
  scripts/release/inspect-packages.js
  scripts/release/packages.js
  scripts/release/smoke-tarballs.js
Due: none

chore: add zizmor CI gate
  .github/workflows/actionlint.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/cross-verify.yml
  .github/workflows/release.yml
  .github/zizmor.yml
Due: none

chore: concurrency
  .github/workflows/actionlint.yml
Due: none

chore: minor zizmor workflow tweaks
  .github/dependabot.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
Due: none

feat: default hedged signing
  .github/workflows/actionlint.yml
  .github/workflows/acvp.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/cross-verify.yml
  .github/workflows/release.yml
  .github/workflows/wycheproof.yml
  .github/zizmor.yml
  SECURITY.md
  packages/dilithium5/README.md
  packages/dilithium5/dist/cjs/dilithium5.d.cts
  packages/dilithium5/dist/cjs/dilithium5.js
  packages/dilithium5/dist/mjs/dilithium5.d.mts
  packages/dilithium5/dist/mjs/dilithium5.js
  packages/dilithium5/src/index.d.ts
  packages/dilithium5/src/sign.js
  packages/dilithium5/test/metamorphic.test.js
  packages/mldsa87/README.md
  packages/mldsa87/dist/cjs/mldsa87.d.cts
  packages/mldsa87/dist/cjs/mldsa87.js
  packages/mldsa87/dist/mjs/mldsa87.d.mts
  packages/mldsa87/dist/mjs/mldsa87.js
  packages/mldsa87/src/index.d.ts
  packages/mldsa87/src/sign.js
  packages/mldsa87/test/acvp.test.js
  packages/mldsa87/test/metamorphic.test.js
  packages/mldsa87/test/sign.test.js
  packages/mldsa87/test/wycheproof.test.js
Due: dilithium5, mldsa87

fix: ACVP tests
  packages/dilithium5/test/packing.test.js
  packages/dilithium5/test/sign.test.js
  packages/mldsa87/test/acvp.test.js
  packages/mldsa87/test/packing.test.js
  packages/mldsa87/test/sign.test.js
Due: none

chore: fix ci
  .github/workflows/actionlint.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/cross-verify.yml
Due: none

chore: fix browser-based tests and linting
  packages/dilithium5/test/metamorphic.test.js
  packages/dilithium5/test/packing.test.js
  packages/dilithium5/test/sign.test.js
  packages/mldsa87/test/metamorphic.test.js
  packages/mldsa87/test/packing.test.js
  packages/mldsa87/test/sign.test.js
Due: none

chore: further linting fixes
  packages/mldsa87/test/acvp.test.js
  packages/mldsa87/test/wycheproof.test.js
Due: none

chore: ci tidy
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: dependency update
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  packages/dilithium5/dist/cjs/dilithium5.js
  packages/dilithium5/package.json
  packages/mldsa87/dist/cjs/mldsa87.js
  packages/mldsa87/package.json
Due: none

ci: codecov action upload update
  .github/workflows/coverage.yml
Due: none

Path conditions:
  dilithium5: any of: packages/dilithium5/src, but not: **/dist/**, **/test/**, **/browser-tests/**, **/*.d.ts
  mldsa87: any of: packages/mldsa87/src, but not: **/dist/**, **/test/**, **/browser-tests/**, **/*.d.ts
